---
layout: default
title: CNX Pole
description: 'Pole dancing and fitness classes in Chiang Mai, Thailand.'
og-image:
keywords: >-
  pole dance, pole fitness, pole sport, pole dancing in chaing mai, pole dance
  training in chiang mai, learn pole dancing chiang mai, cnx pole
class:
  - name: Beginner Pole
    description: >-
      Welcome to Beginner Pole! The focus of this class is on the principles
      behind the moves, essential vocabulary, and safety. By the end of a class,
      you will have learned some moves and spins, and put them together in a fun
      routine. Open to all fitness levels. Celebrates all body-shapes.
    _image: /images/polepose2.png
    price: ฿550
  - name: Beginner/Intermediate Pole
    description: >-
      For students with a good grasp of the basics, or with previous training at another studio. The focus of this class is on expanding your range of moves, holds, poses, spins, and transitions. Classes may incorporate floor work, and will primarily use static pole. Intermediate students will focus on  on refining techniques, and getting off the ground with climbs, inverts, and combos. Classes will be more physically challenging, and will use both static and spinning pole.
    _image: /images/hang.png
    price: ฿550
  - name: Pole Choreo
    description: >-
      Put your beginner and intermediate moves to work in a choreographed
      routine emphasizing fluidity and musicality. Dance both on and off the
      pole in a short routine suitable for all fitness levels. Recommended to
      already have a foundation in beginner pole.
    _image: /images/polepose1.png
    price: ฿550
  - name: Open Pole
    description: >-
      Set your own agenda during this unstructured practice time. Work on that
      tricky move, choreograph a routine, do some conditioning, it's up to you!
      Teaching isn't provided for this session, but a trainer is on site to spot
      you and make sure you're training safely. Open to intermediate and
      advanced students or those with previous experience at other studios.
    _image: /images/polepose5.png
    price: ฿300
  - name: Pole Play Day
    description: >-
      Pole play time! A chance to mix and mingle with all levels, collaborate,
      and just jam. These extended sessions are as much about socializing
      and having fun as they are about celebrating pole dance and fitness. A great chance for first-timers to drop in and get a taste.
    _image: /images/polepose3.png
    price: ฿300
  - name: Private
    description: >-
      Get some one-on-one attention and set your own agenda during a one-hour
      class. Please note that fees can be split with friends for a semi-private session.
    _image: /images/polepose4.png
    price: ฿1500
  - name: Starter Pole
    description: >-
      New to pole? Start here for the basics. The focus of this class is on the
      principles behind the moves, essential vocabulary, and safety. By the end
      of a class, you will have learned some moves and spins, and put them
      together in a fun routine! Open to all fitness levels. If you have dance
      or gymnastics experience, you'll probably move on after one class. Total
      newbie? Repeat this class until you feel ready to level up.
    _image: /images/poleclass.png
    price: ฿550
  - name: Beginner Pole
    description: >-
      For students with a good grasp of the basics, or with previous training at
      another studio at Levels 1 or 2. The focus of this class is on expanding
      your range of moves, holds, poses, spins, and transitions. Classes may
      incorporate floor work, and will primarily use static pole.
    _image: /images/poleclass.jpg
    price: ฿550
  - name: Intermediate Pole
    description: >-
      For students with experience and knowledge of a broad range of moves, or
      with previous training at another studio at Level 2 or above. The focus of
      this class is on refining your technique, so you can get off the ground
      with climbs and inverts. Classes will be more physically challenging, and
      will use both static and spinning pole.
    _image: /images/poleclass.jpg
    price: ฿550
  - name: Advanced Pole
    description: >-
      For students with a strong foundation in pole ready to take it to the
      next level, or with previous training at Level 3 or above. The focus of
      this class will depend greatly on the student(s). Less class, more
      coaching, shape your own pole destiny!
    _image: /images/poleclass.jpg
    price: ฿550
  - name: Intermediate Choreo
    description: >-
      Challenge yourself by combining pole moves that will take you around the
      pole, on the floor, upside-down, and everywhere in between, all while
      developing your musicality and artistry. Classes will be fast-paced and
      more physically challenging.
    _image: /images/poleclass.jpg
    price: ฿550
  - name: Exotic Choreo
    description: >-
      Explore the sexy side of pole! Routines will combine beginner moves with
      lots of hip circles, body waves, and attitude! Suitable for all fitness
      levels, and open to everyone who expresses a feminine gender.
    _image: /images/poleclass.jpg
    price: ฿550
  - name: Pole Power
    description: >-
      An energetic one-hour class to build your strength and stamina. Exercises
      take place both on and off the pole. Open to any fitness level - but
      expect to work.
    _image: /images/poleclass.jpg
    price: ฿300
  - name: Flex
    description: >-
      A gentle one-hour class to help you with flexibility, posture, and range
      of motion. Inspired by yoga, ballet and gymnastics, moves take place place off the pole. Suitable for all
      fitness levels.
    _image: /images/poleclass.jpg
    price: ฿300
---
<header id="top" class="bg-hero-image text-center">
  <div class="hero-container">
    <h1 class="text-white text-shadow">Pole fitness in Chiang Mai, Thailand</h1>
    <p class="pad-all-xs text-white text-shadow">
      For those who can't stand the gym or just want to try something new,
      pole fitness combines the best of dance and resistance training.
    </p>
  </div>
  <div class="text-shadow grid-noGutter hide-mobile">
    <p class="col-12 strong no-gutter">STRONG</p>
    <p class="col-12 no-gutter text-white ">is the new</p>
    <p class="col-12 sexy no-gutter">Sexy</p>
  </div>
</header>
<section id="classes">
  <div class="text-center">
    <h2>Classes</h2>
    <p>Learn pole dancing in a fun, friendly environment! Get fit while developing your abilities and confidence - at any level.</p>
  </div>
  <!-- this is the container for the classes which should cycle through like a gallery -->
  <div class="grid-middle">
    <div class="col-1">
      <!-- this is the button or icon to click left to see previous class -->
      <a id="flex-left"><i class="text-big text-blue fa fa-angle-left nudge-left" aria-hidden="true"></i></a>
    </div>
    <div class="col-10">
      <!-- these are the classes -->
      <div class="flexslider">
        <ul class="slides">
        {% for class in page.class limit: 6 %}
          <li>
            <div class="outline-black box-shadow margin-all-xs">
              <div class="grid-middle-spaceAround pad-all-s">
                <div class="col-5 hide-tablet">
                  <div class="class-image">
                    <img src="{{class._image}}" alt="image for {{class.name}}"/>
                  </div>
                </div>
                <div class="col-5_sm-12">
                  <div class="grid-spaceBetween">
                    <h3 class="text-pink col-9">{{class.name}}</h3>
                    <p class="text-grey text-right col-3">{{class.price}}</p>
                  </div>
                  <p>{{class.description}}</p>
                  <a href="https://cnxpole.setmore.com/" target=blank><button class="button-long">Sign Up</button></a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
        </ul>
         <!-- .slides -->
      </div>
        <!-- .flexslider -->
    </div>
    <div class="col-1 text-right">
      <!-- this is the button or icon to click right to see next class -->
      <a id="flex-right"><i class="text-big text-blue fa fa-angle-right nudge-right" aria-hidden="true"></i></a>
    </div>
  </div>
  <p class="text-center pad-top-xs">
    Classes are one and a half hours long, unless otherwise noted, and begin with a warm-up.
  </p>
</section>
<section id="pricing" class="bg-grey-trans text-center">
  <h2>Pricing</h2>
  <p>
    Classes and packages can be purchased directly from CNX Pole. Please enquire with a trainer before or after class.
  </p>
  <div class="grid-spaceAround">
    <p class="outline-black bg-white box-shadow pad-all-s">
      Regular Classes: ฿550 per 1.5 hour session
    </p>
    <p class="outline-black bg-white box-shadow pad-all-s">
      True Beginner Classes: ฿300 per 1 hour session
    </p>
    <p class="outline-black bg-white box-shadow pad-all-s">
      Open Pole: ฿300 per 1.5 hour session
    </p>
  </div>
  <h3>Packages:</h3>
  <div class="grid-spaceAround">
    <p class="outline-black bg-white box-shadow pad-all-s">
      5 Classes: ฿2500 (฿500 per class)
    </p>
    <p class="outline-black bg-white box-shadow pad-all-s">
      10 Classes: ฿4500 (฿450 per class)
    </p>
  </div>
  <h5>Packages valid for a period of 60 days</h5>
</section>
<section id="schedule" class="text-center">
  <h2>Schedule</h2>
   <h3 class="text-pink pad-top-xs pad-bottom-xs">Please note note we are currently moving between two studios - for the most up to date schedule, please check our Facebook or get in touch via Messenger. Thank you!</h3> 
  <img src="/images/cnxpole-schedule-THIS WEEK-FIXED.png" alt="cnxpole-schedule" class="box-shadow">
  <p>All classes are open on a drop-in basis but availability is limited, so please sign up to confirm attendance. Private sessions available by appointment only.</p>
  <a href="https://cnxpole.setmore.com/" target=blank><button class="button">Sign Up</button></a>
</section>
<section id="events" class="bg-grey-trans">
  <h2 class="text-center">Events</h2>
  <div class="outline-black box-shadow bg-white pad-all-s">
    <h3 class="text-pink">Open Pole Play Day</h3>
    <p>Monthly</p>
    <p class="text-small">Always wanted to give pole a try but never had a chance - or just felt too intimidated? Don't fear!<br /><br />Pole should be FUN, that's why we're hosting Open Pole Playtime, a no-pressure chance to try pole for the first time. If you have previous pole experience, come jam and maybe show some newbies what you've got! Bring your heels, wear a tutu, whatever makes this event fun for you!<br /><br />Your fearless pole leaders, Lily and Vikky, will be on hand to give demos, coach and spot you, and answer any questions you might have about pole dancing.<br /><br />Drop in for as short or long a time as you like for a cover fee. </p>
    <h4>Upcoming Dates:</h4>
    <div class="grid-spaceBetween">
      <div class="col-5_sm-12 outline-black bg-white box-shadow pad-all-s margin-top-xs">
        <p>
          Saturday, August 3rd from 13:00 - 16:00
        </p>
        <a href="https://www.facebook.com/events/2371932082892823/" target="blank"><button class="button">RSVP on Facebook</button></a>
      </div>
    </div>
  </div>
  <a href="https://www.facebook.com/groups/cnxpole/" target=blank><button class="button bg-white margin-top-s">Follow Us On Facebook for the Latest Updates</button></a>
  <!-- {% for events in post.events %}
  <div class="outline-black box-shadow">
    <h3 class="text-pink">{{events.title}}</h3>
    <h4>{{events.date | date_to_long_string}}</h4>
    <p>{{events.description}}</p>
    <a href="{{events.url}}">Learn more</a>
  </div>
  {% endfor %} -->
</section>
<section id="location" class="">
  <h2 class="text-center">Location</h2>
  <div class="grid">
    <div class="col-8_sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15108.117598374516!2d98.981218!3d18.7968431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19749ce75078a062!2sFitness+Thailand!5e0!3m2!1sen!2sth!4v1535997385885" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-4_sm-12 pad-left-s text-center-mobile">
      <h4>Classes are hosted in the yoga studio of Fitness Thailand Gym, Icon Square</h4>
      <h3 class="pad-bottom-s">Icon Square, 7th Floor<br />Manee Nopparat Road,<br />Chiang Mai, Thailand<br />50200</h3>
      <a href="https://www.google.co.th/maps/dir//Fitness+Thailand,+Icon+Square+29+Manee+Nopparat+Rd,+Tambon+Si+Phum,+Amphoe+Mueang+Chiang+Mai,+Chang+Wat+Chiang+Mai+50200/@18.8039856,98.967288,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x30da3a92bc9ffac3:0x19749ce75078a062!2m2!1d98.981218!2d18.7968431!3e0" target="blank"><button class="button">Get Directions</button></a>
    </div>
  </div>

</section>
<section id="about" class="bg-grey-trans">
  <h2 class="text-center">About Us</h2>
    <p class="">
      Welcome to CNX Pole, Chiang Mai's first dedicated pole dance and fitness school! When Vikky and I first met we were both shocked that a city as diverse and active as Chiang Mai didn't already have a pole studio. We realized we were both determined to bring this art we loved so much to our community so we banded together to do it and we haven't looked back!<br /><br />
      We both separately got hooked on pole after years of dancing in other forms. The physical challenge and endless chase to nail that badass new move is both motivating and highly addictive. While pole is an excellent workout and an expressive dance form, what we also fell in love with was the inclusive, body-positive and accepting nature of the pole community. It has taught us that every body is a pole body and the joy of self-expression through movement.<br /><br />
      For the past year we have been teaching beginner and intermediate pole dance classes and slowly growing our community. First teaching out of a borrowed space in a friend's hostel (#bootstrapping) we have since struck up a great relationship with Fitness Thailand where we teach classes four days a week.<br /><br />
      Our ambition for the next year is to expand our classes to new studios/gyms and to (fingers crossed) maybe even move into our own dedicated space in 2020.<br /><br />
      We hope you will join us on our journey and become as hopelessly addicted to pole as we are!
    </p>
    <h6 class="pad-left-s pad-bottom-xs">Lily xoxo</h6>
    <div class="bg-white pad-all-s">
      <h3 class="text-center">Get to Know Our Teachers</h3>
      <div class="grid-spaceBetween">
        <div class="col-5_sm-12">
          <h2 class="text-center">Vikky</h4>
          <img src="/images/vikky-cnxpole.jpg"/>
          <p class="text-small">
            A trained dance and gymnastics teacher, Vikky has more than a decade of experience teaching dance and managing studios. She originally hails from the UK and has called Chiang Mai home for almost five years. She teaches beginner and beginner/intermediate classes and is our resident handstand queen.
          </p>
        </div>
        <div class="col-5_sm-12">
          <h2 class="text-center">Lily</h4>
          <img src="/images/lily-cnxpole.jpg"/>
          <p class="text-small">
            Liy has been pole dancing on and off since she fell in love with the sport four years ago. A Chiang Mai native, she's a serial entrepreneur who couldn't resist the chance to share her love of pole with the amazing people of this city. She teaches beginner and choreography classes and loves a sassy body roll.
          </p>
        </div>
        <!-- <div class="col-6_sm-12">
          <h4>Kaily</h4>
          <img src="/images/kaily-cnxpole.jpg"/>
          <p class="text-small">
            Our most experienced trainer, Kaily has been pole dancing for more than ten years and teaching for eight of those. With the most training and qualifications under her belt she teaches our beginner/intermediate class and advises on all our curriculum.
          </p>
        </div> -->
      </div>
    </div>
    <div class="pad-all-s">
      <h3 class="text-center">Our Equipment</h3>
      <p>
        We are focused on safety and quality at CNX Pole and all our equipment is purchased from X-Pole, the professional standard worldwide. Our studio is equipped with 45mm chrome poles which switch between both static and spin.
      </p>
    </div>
  <div>
    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/ceed589c464b5eebb78b98c953921a40.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    <h4 class="text-center-mobile">Show us some love and <a href="https://www.instagram.com/cnxpole/" target=blank>follow us on Instagram @cnxpole</a>.</h4>
  </div>
</section>
<section id="contact" class="">
  <h2 class="text-center">Contact</h2>
  <form method="POST" action="https://formspree.io/lily@cnxweb.site" class="grid-spaceBetween margin-all-xs">
    <input type="hidden" name="_next" value="/" />
    <input type="hidden" name="_language" value="en" />
      <div class="form-group col-12">
          <label class="form-label" for="name">Your Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1" required>
      </div>
      <div class="form-group col-12">
          <label class="form-label" for="email">Your Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2" required>
      </div>
      <div class="form-group col-12">
          <label class="form-label" for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
      </div>
      <div class="form-group col-12">
          <label class="form-label" for="message">Message</label>
          <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Message..." tabindex="4" required></textarea>
      </div>
      <div class="text-center col-12">
        <button type="submit" class="button-long">Send Message</button>
      </div>
  </form>
</section>
