<footer class="text-center grid-spaceAround pad-all-xs bg-grey">
  <p class="col-12 pad-top-xs editable">Phone: <a href="tel:+66612791306">+66 (0)61 279-1306</a></p>
  <div class="col-2_md-3_sm-4 grid-middle-center-spaceBetween icon-large pad-top-s pad-bottom-s">
    <a href="https://www.facebook.com/groups/cnxpole/" target=blank><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/cnxpole/" target=blank><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <p class="col-12"><i class="fa fa-copyright" aria-hidden="true"></i> CNX Web <script type="text/javascript">
  document.write(new Date().getFullYear()); </script> | Created by <a href="http://cnxweb.site" target=blank>CNX Web</a></p>
</footer>
