<nav class="grid-spaceBetween-middle margin-left-s margin-right-s" id="top">
  <a href="" class="logo">CNX Pole</a>
  <div class="col-4 grid-spaceBetween">
    <a href="#classes" class="nav-links">Classes</a>
    <a href="#schedule" class="nav-links">Schedule</a>
    <a href="#events" class="nav-links">Events</a>
    <a href="#location" class="nav-links">Location</a>
    <a href="#about" class="nav-links">About</a>
    <a href="#contact" class="nav-links">Contact</a>
  </div>
</nav>
<a href="#top" class="scroll-to-top-container"><i class="fa fa-arrow-circle-up scroll-to-top-icon" aria-hidden="true"></i></a>
